<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
  {% include search_form.html %}
  <ul class="nav nav-list">
    <li>Getting started</li>
    <li><a href="{{ site.baseurl }}/ci_overview.html">CI Pipeline overview</a></li>
    <li><a href="{{ site.baseurl }}/ci_configuration.html">CI Pipeline configuration</a></li>
    <li>Starting the pipeline</li>
    <li><a href="{{ site.baseurl }}/ci_test.html">CI Pipeline testing</a></li>
    <li><a href="{{ site.baseurl }}/ci_tuning.html">CI Pipeline tuning</a></li>
  </ul>
</div>
